<?xml version="1.0" encoding="UTF-8" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="DeveloperHub\TopBanner\Api\Data\TemplatesConfigurationInterface"
                type="DeveloperHub\TopBanner\Model\TemplatesConfiguration"/>
    <preference for="DeveloperHub\TopBanner\Api\TemplatesRepositoryInterface"
                type="DeveloperHub\TopBanner\Model\Repository\TemplatesRepository"/>
    <preference for="DeveloperHub\TopBanner\Api\Data\EntityInterface"
                type="DeveloperHub\TopBanner\Model\Entity"/>
    <virtualType name="DeveloperHubTopBannerImageUploader" type="DeveloperHub\TopBanner\Model\Uploader">
        <arguments>
            <argument name="baseTmpPath" xsi:type="const">DeveloperHub\TopBanner\Ui\DataProvider::IMAGE_TMP_PATH</argument>
            <argument name="basePath" xsi:type="const">DeveloperHub\TopBanner\Ui\DataProvider::IMAGE_PATH</argument>
            <argument name="allowedExtensions" xsi:type="array">
                <item name="jpg" xsi:type="string">jpg</item>
                <item name="jpeg" xsi:type="string">jpeg</item>
                <item name="gif" xsi:type="string">gif</item>
                <item name="png" xsi:type="string">png</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="DeveloperHub\TopBanner\Controller\Adminhtml\Configuration\Upload">
        <arguments>
            <argument name="uploader" xsi:type="object">DeveloperHubTopBannerImageUploader</argument>
        </arguments>
    </type>
    <type name="DeveloperHub\TopBanner\Controller\Adminhtml\Configuration\Save">
        <arguments>
            <argument name="uploader" xsi:type="object">DeveloperHubTopBannerImageUploader</argument>
        </arguments>
    </type>
    <type name="DeveloperHub\TopBanner\Helper\ImageHelper">
        <arguments>
            <argument name="uploader" xsi:type="object">DeveloperHubTopBannerImageUploader</argument>
        </arguments>
    </type>
    <type name="DeveloperHub\TopBanner\UI\Component\Listing\Columns\Image">
        <arguments>
            <argument name="uploader" xsi:type="object">DeveloperHubTopBannerImageUploader</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="templates_configuration_grid_data_source" xsi:type="string">
                    DeveloperHub\TopBanner\Model\ResourceModel\TemplatesConfiguration\Grid\Collection
                </item>
            </argument>
        </arguments>
    </type>
    <virtualType name="DeveloperHub\TopBanner\Model\ResourceModel\TemplatesConfiguration\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">developerhub_top_banner_templates</argument>
            <argument name="resourceModel" xsi:type="string">
                DeveloperHub\TopBanner\Model\ResourceModel\TemplatesConfiguration
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="TopBannerGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">DeveloperHub\TopBanner\Model\Resource\Entity\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">TopBannerGridFilterPool</argument>
        </arguments>
    </virtualType>
    <virtualType name="TopBannerGridFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="DeveloperHub\TopBanner\Model\ResourceModel\Entity\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">developerhub_top_banner_bar</argument>
            <argument name="resourceModel" xsi:type="string">DeveloperHub\TopBanner\Model\ResourceModel\Entity</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="topbanner_templates_entity_listing_data_source" xsi:type="string">DeveloperHub\TopBanner\Model\ResourceModel\Entity\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="DeveloperHub\TopBanner\Model\ResourceModel\Entity\AssociatedEntityMap" type="Magento\Framework\DataObject">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="store" xsi:type="array">
                    <item name="associations_table" xsi:type="string">developerhub_top_banner_bar_store</item>
                    <item name="bar_entity_id_field" xsi:type="string">entity_id</item>
                    <item name="entity_id_field" xsi:type="string">store_id</item>
                </item>
                <item name="customer_group" xsi:type="array">
                    <item name="associations_table" xsi:type="string">developerhub_top_banner_bar_customer_group</item>
                    <item name="bar_entity_id_field" xsi:type="string">entity_id</item>
                    <item name="entity_id_field" xsi:type="string">customer_group_id</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\EntityManager\MetadataPool">
        <arguments>
            <argument name="metadata" xsi:type="array">
                <item name="DeveloperHub\TopBanner\Api\Data\EntityInterface" xsi:type="array">
                    <item name="entityTableName" xsi:type="string">developerhub_top_banner_bar</item>
                    <item name="identifierField" xsi:type="string">entity_id</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\EntityManager\Operation\AttributePool">
        <arguments>
            <argument name="extensionActions" xsi:type="array">
                <item name="topBanner" xsi:type="array">
                    <item name="DeveloperHub\TopBanner\Api\Data\EntityInterface" xsi:type="array">
                        <item name="read" xsi:type="string">DeveloperHub\TopBanner\Model\ResourceModel\Entity\Relation\ReadHandler</item>
                        <item name="create" xsi:type="string">DeveloperHub\TopBanner\Model\ResourceModel\Entity\Relation\SaveHandler</item>
                        <item name="update" xsi:type="string">DeveloperHub\TopBanner\Model\ResourceModel\Entity\Relation\SaveHandler</item>
                    </item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\EntityManager\HydratorPool">
        <arguments>
            <argument name="hydrators" xsi:type="array">
                <item name="DeveloperHub\TopBanner\Api\Data\EntityInterface" xsi:type="string">Magento\Framework\EntityManager\AbstractModelHydrator</item>
            </argument>
        </arguments>
    </type>
</config>
